@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.shadow-oi{
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
.alata-use{
  color: var(--pink, #F04A94);
font-family: Alata, sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 0px; /* 0% */ 

}
.alata-use-paragraph{
  color: rgba(0, 0, 0, 0.75);
/* Paragraph Body */
font-family: Montserrat, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}

.shadow-orange{
  box-shadow: 0px 0px 25px 0px rgba(255, 135, 26, 0.25);
}
.ball{
width: 665.039px;
height: 508.5px;
right: 60px;
top:60px;
overflow: hidden;
z-index:-100;
fill: radial-gradient(104.62% 128.06% at 94.31% 99.92%, rgba(170, 25, 193, 0.90) 0%, rgba(225, 0, 244, 0.90) 39.22%, rgba(255, 122, 0, 0.90) 100%);
}

.images{
  @apply shadow-2xl shadow-orange rounded-md object-cover w-[270px] h-[450px]
}